@import '../../styles/theme';

@mixin path($color, $styles) {
  svg {
    path {
      stroke: $color;
    }
  }
}

.SearchWrapper {
  border-radius: 1000px !important; // make it pill shaped
}

.SearchIcon {
  &[data-is-searching] {
    svg path {
      stroke: $color-greyscale-12;
    }
  }

  svg path {
    stroke: $color-greyscale-11;
    transition: stroke 0.1s ease-in-out;
  }

  padding-left: 8px;
}
