@import '../../styles/theme';

@mixin path($color, $styles) {
  svg {
    path {
      stroke: $color;
    }
  }
}

.SearchWrapper {
  border-radius: 1000px !important; // make it pill shaped
}

.SearchIcon {
  svg path {
    stroke: $color-greyscale-11;
    transition: stroke 0.1s ease-in-out;
  }
}
