// /**
//  * @TODO: :active styling broken in Firefox
//  *
//  */

@import '../../styles/borders';
@import '../../styles/animations';
@import '../../styles/theme';
@import '../../styles/typography';
@import '../../styles/glass';

// Default (Button Primary Variant)
.zui-button {
  @include glass-shadows-and-blur;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
  border-width: 0;
  border-radius: 1000px;
  background: var(--button-bg-base);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  cursor: pointer;
  transition: color #{$time-short} ease-in-out, border-color #{$time-short} ease-in-out;
  color: var(--zui-button-color);

  --button-bg-base: rgba(253, 252, 253, 0.05);
  --button-bg-hover: rgba(163, 162, 163, 0.1);
  --button-bg-active: rgba(167, 163, 163, 0.05);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(
      167.33deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 24.43%,
      rgba(255, 255, 255, 0.01) 79.12%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  &:not(.focus-visible) {
    outline: none;
  }
}

// Button Variant - Secondary (text button)
.zui-button-secondary {
  padding: 0;
  background: none;
  box-shadow: none;
  backdrop-filter: none;

  &::before {
    background: none;
  }

  &:hover,
  &:active {
    background: none !important;
    text-shadow: var(--zui-text-shadow-hover);
    transition: text-shadow #{$time-short} ease-in-out;

    &::after {
      content: none !important;
    }
  }
}

// Button Size Variants
.zui-button-small {
  height: 32px;
  padding: 0 8px;
  font-size: #{$size-small};
  line-height: 20px;
}

.zui-button-large {
  height: 48px;
  padding: 0 16px;
  font-size: #{$size-default};
  line-height: 24px;
}

// Button Content Container
.zui-button-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--zui-button-color);
  text-align: center;
  font-weight: #{$font-weight-demi-bold};
  z-index: 2;
  transition: color #{$time-short} ease-in-out;
}

// Button Content Size Variants
.zui-button-content-small {
  margin: 0 4px;
}

.zui-button-content-large {
  margin: 0 8px;
}

// Button Color Variants
.zui-button-highlight {
  --zui-button-color: #{$color-secondary-11};
  --zui-text-shadow-hover: 0px 0px 16px rgba(1, 250, 195, 0.75);
}

.zui-button-red {
  --zui-button-color: #{$color-failure-11};
  --zui-text-shadow-hover: 0px 0px 16px rgba(221, 50, 50, 0.75);
}

.zui-button-greyscale {
  --zui-button-color: #{$color-greyscale-transparency-12};
  --zui-text-shadow-hover: 0px 0px 16px rgba(237, 237, 239, 0.75);
}

.zui-button-disabled {
  --zui-button-color: #{$color-greyscale-transparency-9};
  --zui-text-shadow-hover: none;
}

// Button State
.zui-button:hover {
  background: var(--button-bg-hover);
  text-shadow: var(--zui-text-shadow-hover);

  // Glow
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 1000px;
    transition: opacity #{$time-short} ease-in-out;
    transform: translateX(-50%);
    background: radial-gradient(ellipse at center, var(--zui-button-color) 0%, rgba(1, 244, 203, 0) 50%);
  }
}

.zui-button:active {
  background: var(--button-bg-active);
}

.zui-button-disabled {
  pointer-events: none;
  background: none;
  box-shadow: none;

  &::before {
    background: none;
  }
}

.zui-button-loading {
  pointer-events: none;
  box-shadow: none;
}

// Spinner
.zui-button-spinner {
  border-color: var(--zui-button-color) !important;
}
