/**
 * @TODO: :active styling broken in Firefox
 *
 * ::after is the rounded borders at each edge
 */

@import '../../styles/borders';
@import '../../styles/animations';
@import '../../styles/theme';
@import '../../styles/typography';

// Set up variables
.zui-button {
  --zui-button-bg: #{$color-secondary-4};
  --zui-button-bg-hover: #{$color-secondary-11};
  --zui-button-bg-active: #{$color-secondary-10};
  --zui-button-border-color: #{$color-secondary-11};
  --zui-button-border-color-hover: #{$color-primary-12};
  --zui-button-color: #{$color-secondary-11};
  --zui-button-color-hover: #{$color-black};
  --zui-button-padding-sides: 1.563rem;

  &[aria-disabled='true'] {
    --zui-button-bg: none;
    --zui-button-border-color: #{$color-greyscale-9};
    --zui-button-color: #{$color-greyscale-9};
  }

  &-negative {
    --zui-button-bg: #{$color-failure-5};
    --zui-button-bg-hover: #{$color-failure-9};
    --zui-button-bg-active: #{$color-secondary-10};
    --zui-button-border-color: #{$color-error-transparency-7};
    --zui-button-border-color-hover: #{$color-error-transparency-11};
    --zui-button-color: #{$color-greyscale-12};
    --zui-button-color-hover: #{$color-greyscale-12};
  }

  &-text {
    --zui-button-bg: none;
    --zui-button-border-color: none;
    --zui-button-padding-sides: 0;
  }

  // Add other variants here
}

/* stylelint-disable no-duplicate-selectors */
.zui-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  margin: 0;
  padding: 0 var(--zui-button-padding-sides);
  border-width: 0;
  border-radius: 1000px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  font-weight: bold;

  background: var(--zui-button-bg);

  &:hover {
    background: var(--zui-button-bg-hover);

    .zui-button-content {
      color: var(--zui-button-color-hover);
    }
  }

  &-active {
    background: var(--zui-button-bg-active) !important;
  }

  cursor: pointer;
  text-transform: capitalize;

  // @TODO: don't transition all
  transition: all #{$time-short} ease-in-out;

  &-content {
    margin: 0 8px;

    color: var(--zui-button-color);
    text-align: center;
    font-size: #{$size-small};
    font-weight: #{$font-weight-bold};
    //text-shadow: #{$text-glow-white};
    z-index: 2;
    transition: color #{$time-short} ease-in-out, text-shadow #{$time-short} ease-in-out;
  }

  // Pseudo-element for borders
  &:after {
    content: ' ';
    width: calc(100% - 4px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    border-radius: inherit;
    border-left: 2px solid var(--zui-button-border-color);
    border-right: 2px solid var(--zui-button-border-color);
    transition: border-color #{$time-short} ease-in-out;
  }

  // Disabled button
  &[aria-disabled='true'] {
    opacity: 0.8;
    pointer-events: none;

    .zui-button-content {
      text-shadow: none;
    }
  }

  // Need this to retain focus ring on keyboard navigation for accessibility
  &:not(.focus-visible) {
    outline: none;
  }

  &:not([aria-disabled='true']) {
    &:hover {
      &:after {
        border-color: var(--zui-button-border-color-hover);
      }
    }
  }

  &-spinner {
    border-color: var(--zui-button-border-color) !important;
  }
}
/* stylelint-enable no-duplicate-selectors */
