@use '../../styles/typography';
@use '../../styles/animations';
@use '../../styles/colors';
@use '../../styles/theme';

.StepBar {
  position: relative;
  width: 100%;
  font-size: #{typography.$size-tiny};
  text-align: center;

  display: flex;
  justify-content: space-around;

  user-select: none;

  &::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid theme.$color-primary-4;
  }

  .Step {
    transition: opacity #{animations.$time-long} ease-in-out;
    z-index: 2;
    flex: 1;
    padding: 0.5rem 2rem;

    color: theme.$color-greyscale-11;

    &[data-selected] {
      color: theme.$color-greyscale-12;
    }

    // if its not data-selected or data-disabled, then it's clickable
    &:not([data-selected]):not([data-disabled]) {
      cursor: pointer;
    }
  }

  .Bar {
    position: absolute;
    top: calc(100% - 1px);

    border-bottom: 1px solid theme.$color-primary-9;
    transition: all 0.2s ease-in-out;
  }
}
