@import '../../styles/colors';

.Table {
  width: 100%;
  border-collapse: collapse;

  th {
    font-size: 0.75rem;
    font-weight: bold;
    color: #{$grey-lighter-2};
    padding: 1rem;
  }

  th,
  td {
    padding: 1rem;
    vertical-align: middle;

    &:first-of-type {
      padding-left: 1rem;
    }

    &:last-of-type {
      padding-right: 1rem;
    }
  }
}

.Loading {
  margin-top: 3rem;
}

.Grid {
  display: grid;
  width: 100%;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(32%, 0.5fr));
  grid-row-start: 1;
  list-style: none;
  grid-gap: 0.875rem 0.75rem;
}
