@use './theme' as theme;

@mixin glass-input-inset-default {
  background: rgba(167, 163, 163, 0.05);
  box-shadow: -2px -2px 4px 0px rgba(246, 244, 246, 0.05) inset, 2px 2px 4px -1px rgba(10, 10, 10, 0.4) inset;
}

@mixin glass-input-inset-active {
  background: rgba(163, 162, 163, 0.1);
  box-shadow: -2px -2px 4px 0px rgba(246, 244, 246, 0.05) inset, 2px 2px 4px -1px rgba(10, 10, 10, 0.4) inset;
}

@mixin glass-text-primary-color {
  color: $color-greyscale-transparency-12;
}

@mixin glass-text-secondary-color {
  color: $color-greyscale-transparency-11;
}

@mixin glass-text-tertiary-color {
  color: $color-greyscale-transparency-9;
}
