@mixin scrollbar($width: 4px, $color: rgba(232, 232, 254, 0.19), $radius: 5px, $opacity: 0.19) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: $radius;
  }
}
