// This is a generated file. To regenerate run `yarn run generate-theme`

$color-primary-1: var(--color-primary-1);
$color-primary-2: var(--color-primary-2);
$color-primary-3: var(--color-primary-3);
$color-primary-4: var(--color-primary-4);
$color-primary-5: var(--color-primary-5);
$color-primary-6: var(--color-primary-6);
$color-primary-7: var(--color-primary-7);
$color-primary-8: var(--color-primary-8);
$color-primary-9: var(--color-primary-9);
$color-primary-10: var(--color-primary-10);
$color-primary-11: var(--color-primary-11);
$color-primary-12: var(--color-primary-12);
$color-secondary-1: var(--color-secondary-1);
$color-secondary-2: var(--color-secondary-2);
$color-secondary-3: var(--color-secondary-3);
$color-secondary-4: var(--color-secondary-4);
$color-secondary-5: var(--color-secondary-5);
$color-secondary-6: var(--color-secondary-6);
$color-secondary-7: var(--color-secondary-7);
$color-secondary-8: var(--color-secondary-8);
$color-secondary-9: var(--color-secondary-9);
$color-secondary-10: var(--color-secondary-10);
$color-secondary-11: var(--color-secondary-11);
$color-secondary-12: var(--color-secondary-12);
$color-greyscale-1: var(--color-greyscale-1);
$color-greyscale-2: var(--color-greyscale-2);
$color-greyscale-3: var(--color-greyscale-3);
$color-greyscale-4: var(--color-greyscale-4);
$color-greyscale-5: var(--color-greyscale-5);
$color-greyscale-6: var(--color-greyscale-6);
$color-greyscale-7: var(--color-greyscale-7);
$color-greyscale-8: var(--color-greyscale-8);
$color-greyscale-9: var(--color-greyscale-9);
$color-greyscale-10: var(--color-greyscale-10);
$color-greyscale-11: var(--color-greyscale-11);
$color-greyscale-12: var(--color-greyscale-12);
$color-text-primary-1: var(--color-text-primary-1);
$color-text-primary-2: var(--color-text-primary-2);
$color-text-primary-3: var(--color-text-primary-3);
$color-text-primary-4: var(--color-text-primary-4);
$color-text-primary-5: var(--color-text-primary-5);
$color-text-primary-6: var(--color-text-primary-6);
$color-text-primary-7: var(--color-text-primary-7);
$color-text-primary-8: var(--color-text-primary-8);
$color-text-primary-9: var(--color-text-primary-9);
$color-text-primary-10: var(--color-text-primary-10);
$color-text-primary-11: var(--color-text-primary-11);
$color-text-primary-12: var(--color-text-primary-12);
$color-success-1: var(--color-success-1);
$color-success-2: var(--color-success-2);
$color-success-3: var(--color-success-3);
$color-success-4: var(--color-success-4);
$color-success-5: var(--color-success-5);
$color-success-6: var(--color-success-6);
$color-success-7: var(--color-success-7);
$color-success-8: var(--color-success-8);
$color-success-9: var(--color-success-9);
$color-success-10: var(--color-success-10);
$color-success-11: var(--color-success-11);
$color-success-12: var(--color-success-12);
$color-warning-1: var(--color-warning-1);
$color-warning-2: var(--color-warning-2);
$color-warning-3: var(--color-warning-3);
$color-warning-4: var(--color-warning-4);
$color-warning-5: var(--color-warning-5);
$color-warning-6: var(--color-warning-6);
$color-warning-7: var(--color-warning-7);
$color-warning-8: var(--color-warning-8);
$color-warning-9: var(--color-warning-9);
$color-warning-10: var(--color-warning-10);
$color-warning-11: var(--color-warning-11);
$color-warning-12: var(--color-warning-12);
$color-failure-1: var(--color-failure-1);
$color-failure-2: var(--color-failure-2);
$color-failure-3: var(--color-failure-3);
$color-failure-4: var(--color-failure-4);
$color-failure-5: var(--color-failure-5);
$color-failure-6: var(--color-failure-6);
$color-failure-7: var(--color-failure-7);
$color-failure-8: var(--color-failure-8);
$color-failure-9: var(--color-failure-9);
$color-failure-10: var(--color-failure-10);
$color-failure-11: var(--color-failure-11);
$color-failure-12: var(--color-failure-12);
$color-greyscale-transparency-1: var(--color-greyscale-transparency-1);
$color-greyscale-transparency-2: var(--color-greyscale-transparency-2);
$color-greyscale-transparency-3: var(--color-greyscale-transparency-3);
$color-greyscale-transparency-4: var(--color-greyscale-transparency-4);
$color-greyscale-transparency-5: var(--color-greyscale-transparency-5);
$color-greyscale-transparency-6: var(--color-greyscale-transparency-6);
$color-greyscale-transparency-7: var(--color-greyscale-transparency-7);
$color-greyscale-transparency-8: var(--color-greyscale-transparency-8);
$color-greyscale-transparency-9: var(--color-greyscale-transparency-9);
$color-greyscale-transparency-10: var(--color-greyscale-transparency-10);
$color-greyscale-transparency-11: var(--color-greyscale-transparency-11);
$color-greyscale-transparency-12: var(--color-greyscale-transparency-12);
$color-primary-transparency-1: var(--color-primary-transparency-1);
$color-primary-transparency-2: var(--color-primary-transparency-2);
$color-primary-transparency-3: var(--color-primary-transparency-3);
$color-primary-transparency-4: var(--color-primary-transparency-4);
$color-primary-transparency-5: var(--color-primary-transparency-5);
$color-primary-transparency-6: var(--color-primary-transparency-6);
$color-primary-transparency-7: var(--color-primary-transparency-7);
$color-primary-transparency-8: var(--color-primary-transparency-8);
$color-primary-transparency-9: var(--color-primary-transparency-9);
$color-primary-transparency-10: var(--color-primary-transparency-10);
$color-primary-transparency-11: var(--color-primary-transparency-11);
$color-primary-transparency-12: var(--color-primary-transparency-12);
$color-secondary-transparency-1: var(--color-secondary-transparency-1);
$color-secondary-transparency-2: var(--color-secondary-transparency-2);
$color-secondary-transparency-3: var(--color-secondary-transparency-3);
$color-secondary-transparency-4: var(--color-secondary-transparency-4);
$color-secondary-transparency-5: var(--color-secondary-transparency-5);
$color-secondary-transparency-6: var(--color-secondary-transparency-6);
$color-secondary-transparency-7: var(--color-secondary-transparency-7);
$color-secondary-transparency-8: var(--color-secondary-transparency-8);
$color-secondary-transparency-9: var(--color-secondary-transparency-9);
$color-secondary-transparency-10: var(--color-secondary-transparency-10);
$color-secondary-transparency-11: var(--color-secondary-transparency-11);
$color-secondary-transparency-12: var(--color-secondary-transparency-12);
$color-error-transparency-1: var(--color-error-transparency-1);
$color-error-transparency-2: var(--color-error-transparency-2);
$color-error-transparency-3: var(--color-error-transparency-3);
$color-error-transparency-4: var(--color-error-transparency-4);
$color-error-transparency-5: var(--color-error-transparency-5);
$color-error-transparency-6: var(--color-error-transparency-6);
$color-error-transparency-7: var(--color-error-transparency-7);
$color-error-transparency-8: var(--color-error-transparency-8);
$color-error-transparency-9: var(--color-error-transparency-9);
$color-error-transparency-10: var(--color-error-transparency-10);
$color-error-transparency-11: var(--color-error-transparency-11);
$color-error-transparency-12: var(--color-error-transparency-12);
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-grey: var(--color-grey);