// Font Size
$size-xlarge: 2rem; // 32px
$size-large: 1.5rem; // 24px
$size-medium: 1.125; // 18px
$size-default: 1rem; // 16px
$size-small: 0.875rem; // 14px
$size-tiny: 0.75rem; // 12px

// Font Family
$font: "Inter", serif;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
