@use '../../styles/colors';

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  padding: 0 1rem;
  height: 5.75rem;

  background: #{colors.$purple-10};
  border-radius: 1rem;

  font-size: 0.75rem;

  .Value {
    font-size: 1.125rem;
    font-weight: bold;
  }

  > * {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
}
