@use '../../styles/theme';
@use '../../styles/glass';

.Container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;

  border-radius: 0.5rem;

  &[data-variant='success'] {
    color: theme.$color-secondary-11;
  }

  &[data-variant='error'] {
    color: theme.$color-failure-11;
  }

  &[data-variant='warning'] {
    color: theme.$color-warning-11;
  }

  &[data-variant='info'] {
    @include glass.glass-text-secondary-color;
  }

  &.isFilled {
    &[data-variant='success'] {
      background-color: theme.$color-secondary-4;
    }

    &[data-variant='error'] {
      background-color: theme.$color-failure-4;
    }

    &[data-variant='warning'] {
      background-color: theme.$color-warning-4;
    }

    &[data-variant='info'] {
      @include glass.glass-state-active-background;
    }
  }
}
