@import '../../styles/theme';

.Container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;

  border-radius: 0.5rem;

  &[data-variant='success'] {
    color: $color-success-11;
  }

  &[data-variant='error'] {
    color: $color-failure-11;
  }

  &[data-variant='warning'] {
    color: $color-warning-11;
  }

  &[data-variant='info'] {
    color: $color-primary-11;
  }

  &.isFilled {
    &[data-variant='success'] {
      background-color: $color-success-4;
    }

    &[data-variant='error'] {
      background-color: $color-failure-4;
    }

    &[data-variant='warning'] {
      background-color: $color-warning-4;
    }

    &[data-variant='info'] {
      background-color: $color-primary-4;
    }
  }
}
