@import '../../styles/colors';
@import '../../styles/typography';

.Overlay {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  place-items: center;
  overflow-y: auto;
  z-index: 10000;

  background: rgba(0, 0, 0, 0.9);
}

.Content {
  min-width: 18.75rem; // 300px
  padding: 1.875rem; // 30px
  border-radius: 1rem;
  border: 1px solid #{$grey-dark};

  background: #{$almost-black};

  position: relative;
}

.WiderContent {
  min-width: 37.64rem;
}

.FooterActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2.476rem;
}

.CloseIcon {
  color: inherit;
}

.Title {
  font-size: 1.48rem;
  font-weight: #{$font-weight-bold};
}

.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #{$grey-dark};

  margin-bottom: 2.476rem;
}
