@use '../../styles/theme';
@use '../../styles/glass';

.Overlay {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  place-items: center;
  overflow-y: auto;
  z-index: 10000;

  background: rgba(0, 0, 0, 0.85);

  @supports (backdrop-filter: blur(5px)) {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }
}

.ContentWrapper {
  @include glass.glass-outer;
}

.Content {
  @include glass.glass-inner;

  padding: 24px;
  outline: none;
}
