@import '../../styles/theme';
@import '../../styles/glass';

.zui-dropdown-trigger {
  background: none;
  color: $color-primary-12;
  border: none;
  cursor: pointer;
  font-size: inherit;
  outline: none;
}

.zui-dropdown-menu {
  @include glass-materials-flat-thick;
  @include glass-shadows-and-blur;

  width: 256px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  border-radius: 8px;

  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  .zui-dropdown-item {
    @include glass-text-primary-color;

    padding: 16px;
    outline: none;

    &:hover {
      @include glass-state-hover-color;
    }

    &:active {
      background: rgba(163, 162, 163, 0.1);
    }

    border-radius: 8px;
    user-select: none;
    cursor: pointer;
  }

  .zui-dropdown-arrow {
    fill: rgba(10, 10, 10, 0.75);
    height: 16px;
    width: 32px;
  }
}
