@import '../../styles/theme';
@import '../../styles/glass';

.zui-dropdown-trigger {
  background: none;
  color: $color-primary-12;
  border: none;
  cursor: pointer;
  font-size: inherit;
  outline: none;
}

.zui-dropdown-menu {
  @include glass-materials-flat-thick;
  @include glass-shadows-and-blur;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  border-radius: 8px;

  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  .zui-dropdown-item {
    @include glass-text-primary-color;

    display: flex;
    align-items: center;
    font-weight: 400;
    outline: none;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    align-self: stretch;

    &.spacious {
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
    }

    &.compact {
      padding: 8px 16px 8px 8px;
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      @include glass-state-hover-color;
    }

    &:active {
      background: rgba(163, 162, 163, 0.1);
    }
  }

  .zui-dropdown-arrow {
    fill: rgba(10, 10, 10, 0.75);
    height: 16px;
    width: 32px;
  }
}
