@import '../../styles/theme';

.zui-dropdown-trigger {
  background: none;
  color: $color-primary-12;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.zui-dropdown-menu {
  width: 16rem; // 256px
  padding: 0.5rem;

  background: $color-primary-2;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  // @note: replace hardcoding when we sort shadow variables
  box-shadow: 5px 5px 20px 0px #46295c1c;

  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  .zui-dropdown-item {
    padding: 1rem;

    color: $color-greyscale-12;
    outline: none;

    &:hover {
      background: $color-primary-4;
    }

    border-radius: 0.5rem;
    user-select: none;
    cursor: pointer;
  }
}
