@import '../../../styles/colors';
@import '../../../styles/typography';

.WiderContent {
  min-width: 37.64rem;

  .Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey-dark;

    margin-bottom: 2.476rem;

    .Title {
      font-size: 1.48rem;
      font-weight: $font-weight-bold;
    }

    .CloseIcon {
      color: inherit;
    }
  }

  .FooterActions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2.476rem;
  }
}
