@import '../../styles/colors';

// Export color variables for use in Webpack.
:export {
  black: {
    black: $black;
    almost-black: $almost-black;
  }
  grey: {
    grey: $grey;
    grey-lighter-2: $grey-lighter-2;
    grey-lighter-3: $grey-lighter-3;
    grey-lighter-4: $grey-lighter-4;
    grey-darker: $grey-darker;
  }
  white: {
    white: $white;
  }
  blue: {
    blue: $blue;
    blue-200: $blue-200;
    blue-300: $blue-300;
    blue-400: $blue-400;
  }
  green: {
    success-green: $success-green;
  }
  red: {
    red-100: $red-100;
    red-200: $red-200;
    red-300: $red-300;
    red-400: $red-400;
    red-500: $red-500;
  }
  purple: {
    purple-5: $purple-5;
    purple-10: $purple-10;
    purple-15: $purple-15;
    purple-25: $purple-25;
    purple-50: $purple-50;
    purple-dark: $purple-dark;
    purple-darkest: $purple-darkest;
    purple-light: $purple-light;
    purple-lighter: $purple-lighter;
    purple-lightest: $purple-lightest;
    purple-dark-50: $purple-dark-50;
  }
  unused: {
    japanese-laurel: $japanese-laurel;
    success-darker: $success-darker;
    iron: $iron;
    mercury: $mercury;
    mine-shaft: $mine-shaft;
    electric-violet: $electric-violet;
    electric-violet-darker: $electric-violet-darker;
    helitrope: $helitrope;
    heligrope-darker: $helitrope-darker;
    mauve: $mauve;
    bossanova: $bossanova;
    bunting-op: $bunting-op;
    anakiwa: $anakiwa;
    anakiwa-darker: $anakiwa-darker;
    anakiwa-lighter: $anakiwa-lighter;
    baby-blue: $baby-blue;
    blumine-darker: $blumine-darker;
    dodger-blue: $dodger-blue;
    dodger-blue-lighter: $dodger-blue-lighter;
    prussian-blue: $prussian-blue;
    prussian-blue-lighter: $prussian-blue-lighter;
  }
  background: {
    background-primary: $background-primary;
    background-alt: $background-alt;
    background-alt-50: $background-alt-50;
    background-50: $background-50;
  }
  text: {
    text-primary: $text-primary;
    text-glow-white: $text-glow-white;
    text-glow-primary: $text-glow-primary;
  }
  graident: {
    azure: $azure;
    azure-25: $azure-25;
    azure-50: $azure-50;
    coral: $coral;
    cossmic: $cosmic;
    cosmic-25: $cosmic-25;
    horizon: $horizon;
    miami: $miami;
    ocean: $ocean;
    ocean-10: $ocean-10;
    purpink: $purpink;
    sunset: $sunset;
    text-input-background-gradient: $text-input-background-gradient;
  }
}
