@import '../../../styles/colors';

.icons-story {
  &__table {
    font-size: 0.75rem;
    color: $almost-black;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__table-row {
    &:first-child {
      border-top: 1px solid var(--zui-gray-6);
    }
  }

  &__table-cell {
    border-left: 1px solid var(--zui-gray-6);
    border-bottom: 1px solid var(--zui-gray-6);
    padding: 0.5rem 1rem;
    color: var(--zui-gray-12);

    &:last-child {
      border-right: 1px solid var(--zui-gray-6);
    }
  }

  &__table-cell--is-header {
    @extend .icons-story__table-cell;

    background-color: var(--zui-gray-6);
  }
}
