@use '../../../styles/colors';

.icon {
  padding: 16px 8px;
  border: 1px solid var(--color-greyscale-7);
  border-radius: 16px;
}

.icons-story {
  &__table {
    font-size: 0.75rem;
    color: colors.$almost-black;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__table-row {
    &:first-child {
      border-top: 1px solid colors.$grey-lighter-3;
    }
  }

  &__table-cell {
    border-left: 1px solid colors.$grey-lighter-3;
    border-bottom: 1px solid colors.$grey-lighter-3;
    padding: 0.5rem 1rem;

    &:not(:last-child) {
      color: colors.$grey;
    }

    &:last-child {
      border-right: 1px solid colors.$grey-lighter-3;
    }
  }

  &__table-cell--is-header {
    @extend .icons-story__table-cell;

    color: colors.$almost-black !important;
    background-color: colors.$grey;
  }
}
