.Details {
  > * {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }

  > h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  > span {
    font-size: 0.75rem;
    color: grey;
  }
}

.Action {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;

  margin-top: 1rem;

  width: 100%;

  > *:first-child {
    min-width: 0;
  }
}
