@import '../../../styles/theme';

@import '../../../styles/typography';
@import '../../../styles/dimensions';

/* stylelint-disable no-descending-specificity */
.Container {
  .CustomTextToolbarButton {
    padding: 0.25rem 0.5rem !important;
    font-size: $size-tiny !important;
  }

  .Editor {
    border-radius: 1.5rem;
    border: 1px solid $color-greyscale-7;
    transition: border 0.1s ease;

    &:focus-within {
      border-color: $color-primary-9;
    }

    :global(.w-md-editor) {
      min-height: 15rem;
      color: $color-greyscale-12;
      background: none;
      border-radius: inherit;
      box-shadow: unset;
      overflow: hidden;

      flex-direction: column-reverse;
    }

    :global(.w-md-editor-toolbar) {
      background: $color-primary-2;
      border: unset;

      > ul:first-child {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 2.5rem !important;
        margin: auto 1.5rem;

        @media only screen and (max-width: $breakpoint-mobile-l) {
          margin: auto 0.75rem;
        }

        > li > button {
          height: 1.5rem;
          color: $color-greyscale-12;

          > svg {
            width: 1.125rem;
            height: 1.125rem;
          }

          @media only screen and (max-width: $breakpoint-mobile-l) {
            height: 1.25rem;
          }
        }

        :global(.w-md-editor-toolbar-divider) {
          margin: 0 0.85rem !important;
          background-color: unset;

          @media only screen and (max-width: $breakpoint-mobile-l) {
            margin: 0 0.25rem !important;
          }
        }
      }

      > ul:last-child {
        display: none;
      }
    }

    :global(.w-md-editor-content) {
      textarea {
        font-size: $size-default;
        line-height: 1.5rem;

        &::placeholder {
          color: $color-greyscale-11;
        }
      }
    }

    :global(.w-md-editor-text-pre) {
      code {
        font-size: $size-default !important;
        line-height: 1.5rem !important;
        color: $color-greyscale-11 !important;

        span {
          color: $color-greyscale-12 !important;
        }
      }
    }

    :global(.w-md-editor-bar) {
      margin-top: -1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $color-greyscale-11;
      -webkit-mask-image: url('./assets/md-resize-bar.svg');
      mask-image: url('./assets/md-resize-bar.svg');

      svg {
        display: none;
      }
    }

    :global(.w-md-editor-input) {
      position: absolute;
      padding: 0.5rem;
      box-sizing: border-box;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0.5rem;
        background-color: rgba(82, 203, 255, 0.25);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-greyscale-11;
        border-radius: 0.5rem;
      }
    }

  }

  &[data-error] {
    .Editor {
      border-color: $color-failure-8;
    }

    &:focus-within {
      .Editor {
        border-color: $color-failure-9;
      }
    }
  }

  .ErrorMessage {
    margin-top: 1rem;
  }
}
/* stylelint-enable no-descending-specificity */
