@import '../../styles/theme';

/* stylelint-disable no-duplicate-selectors */
.Checkbox {
  --zui-checkbox-cursor: pointer;
  --zui-checkbox-border: 0.0625rem solid #{$color-secondary-11};
  --zui-checkbox-check-color: #{$color-primary-1};
  --zui-checkbox-check-background: rgba(#{$color-secondary-11}, 0.3);
  --zui-checkbox-check-box-shadow: 0 0 0.25rem 0.03rem #{$color-secondary-transparency-9};
  --zui-checkbox-label-color: #{$color-primary-12};
  --zui-checkbox-link-color: #{$color-secondary-11};

  &[data-variant='advanced'] {
    --zui-checkbox-background: #{$color-primary-3};
    --zui-checkbox-label-color: #{$color-greyscale-12};
    --zui-checkbox-check-color: #{$color-primary-3};
  }

  &[data-disabled='true'] {
    --zui-checkbox-cursor: not-allowed;
    --zui-checkbox-border: 0.0625rem solid #{$color-greyscale-9};
    --zui-checkbox-check-box-shadow: none;
    --zui-checkbox-label-color: #{$color-greyscale-11};
    --zui-checkbox-link-color: #{$color-greyscale-9};
    --zui-checkbox-background: #{$color-greyscale-3};
    --zui-checkbox-check-background: #{$color-greyscale-12};
  }
}

.Checkbox {
  display: flex;
  align-items: center;
  padding: 0.25rem;

  &:focus-within {
    border-radius: 0.5rem;
    outline: 0.0625rem solid $color-success-11;
  }

  &:hover {
    cursor: var(--zui-checkbox-cursor);

    .Label:hover {
      cursor: var(--zui-checkbox-cursor);
    }
  }

  button,
  a {
    all: unset;
  }

  .CheckboxRoot {
    min-width: 0.875rem;
    min-height: 0.875rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--zui-checkbox-border);

    .CheckboxIndicator {
      color: var(--zui-checkbox-check-color);
    }

    &:hover {
      background-color: var(--zui-checkbox-check-background);
      box-shadow: var(--zui-checkbox-check-box-shadow);
    }
  }

  &[data-checked='true'] {
    .CheckboxRoot {
      background-color: $color-secondary-11;
    }
  }

  .Label {
    padding-left: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    user-select: none;
    color: var(--zui-checkbox-label-color);
    padding-right: 0.25rem;
    display: flex;
    align-items: center;

    &[data-no-text-or-link='true'] {
      padding: 0;
    }

    [data-label-link='true'] {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }

    &[data-link='true'] {
      padding-left: 0.25rem;
    }

    .Link {
      text-decoration: none;
      color: var(--zui-checkbox-link-color);
    }
  }

  &[data-variant='advanced'] {
    background: var(--zui-checkbox-background);
    border-radius: 0.5rem;
    padding: 1rem;

    &[data-checked='true'] {
      border: 0.0625rem solid $color-secondary-11;
      padding-right: 0.9375rem;
    }

    &:focus-within {
      outline-offset: 0.25rem;
      outline: 0.0625rem solid $color-secondary-11;
    }

    .Label {
      padding-left: 1rem;

      .Title {
        font-size: 0.875rem;
        line-height: 1.063rem;
      }

      .Description {
        font-size: 0.75rem;
        line-height: 0.938rem;
        padding-top: 0.5rem;
        opacity: 0.7;
      }

      [data-has-image='true'] {
        padding: 0.313rem 0;
      }

      .CheckboxImageContainer {
        padding-left: 1.25rem;
        width: 4.625rem;
        height: 4.063rem;

        .CheckboxImage {
          width: 4.625rem;
          height: 4.063rem;
          border-radius: 0.5rem;
        }
      }
    }

    &[data-disabled='true'] {
      &[data-checked='true'] {
        border: none;
        padding-right: 1rem;
      }
    }
  }

  &[data-disabled='true'] {
    .CheckboxRoot {
      background: $color-greyscale-11;
    }
  }
}
