@import '../../styles/theme';

/* stylelint-disable no-duplicate-selectors */
.Status {
  &[data-status-type='active'] {
    --zui-status-background: #{$color-success-9};
  }

  &[data-status-type='idle'] {
    --zui-status-background: #{$color-warning-10};
  }

  &[data-status-type='busy'] {
    --zui-status-background: #{$color-failure-10};
  }

  &[data-status-type='offline'] {
    --zui-status-background: #{$color-greyscale-10};
  }

  &[data-status-type='unread'] {
    --zui-status-background: #{$color-primary-11};
  }
}

.Status {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--zui-status-background);
}
