@use '../../styles/theme';

/* stylelint-disable no-duplicate-selectors */
.Status {
  &[data-status-type='active'] {
    --zui-status-background: #{theme.$color-secondary-11};
  }

  &[data-status-type='idle'] {
    --zui-status-background: #{theme.$color-warning-10};
  }

  &[data-status-type='busy'] {
    --zui-status-background: #{theme.$color-failure-10};
  }

  &[data-status-type='offline'] {
    --zui-status-background: #{theme.$color-greyscale-10};
  }

  &[data-status-type='unread'] {
    --zui-status-background: #{theme.$color-primary-11};
  }
}

.Status {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--zui-status-background);
}
