@import '../../styles/colors';

.InputContainer {
    min-width: 17rem;
    text-align: left;
}

.WrapperOpen {
    background-color: #{$purple-10};
}

Input:hover, .Wrapper:hover {
    cursor: pointer;
}

.Wrapper:hover {
    border-color: #8E4EC6;
}

.InputOpen {
    font-weight: bold;
}

.AlertOverlap {
    margin-top: -3.25rem;
}