@import '../../styles/colors';
@import '../../styles/theme';

.InputContainer {
    min-width: 17rem;
    text-align: left;

    .WrapperOpen {
        border: 1px solid $color-primary-9;
    }

    Input:hover, .Wrapper:hover {
        cursor: pointer;
    }
    
    .Alert, .HelperText  {
        max-width: 16rem;
    }
    
    .AlertOverlap {
        margin-top: -3.25rem;
    }
}