@import '../../styles/colors';
@import '../../styles/theme';
@import '../../styles/glass';

.InputContainer {
  min-width: 16rem;
  text-align: left;

  .Wrapper {
    border: 1px solid transparent;
  }

  .WrapperOpen {
    border: 1px solid $color-secondary-11;

    @include glass-input-inset-active;
  }

  Input:hover,
  .Wrapper:hover {
    cursor: pointer;
  }

  .Alert,
  .HelperText {
    max-width: 16rem;
  }

  .AlertOverlap {
    margin-top: -3.25rem;
  }
}
