
@import '../../../styles/colors';
@import '../../../styles/typography';

.MarkDownViewerContainer {
	:global(.wmde-markdown) {
		padding: 1rem;
		color: $white;
		background-color: unset;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		border: none;
	}

	a {
		color: $blue;
		text-decoration: none !important;
		transition: text-shadow 0.1s ease-in-out;

		&:hover {
			text-shadow: 0px 0px 24px transparentize($purple-100, 0.6),
			0px 0px 12px transparentize($purple-100, 0.6),
			0px 0px 6px transparentize($purple-100, 0.6) !important;
		}
	}

	pre {
		color: $almost-black;
	}
}
