@use '../../../styles/typography';
@use '../../../styles/theme';

.Container {
  padding: 1rem;
  color: theme.$color-greyscale-12;
  background-color: unset;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: none;
  }

  a {
    color: theme.$color-secondary-11;
    text-decoration: none !important;
    transition: text-shadow 0.1s ease-in-out;
  }

  pre {
    color: theme.$color-greyscale-12;
    background: theme.$color-greyscale-2;
  }
}
