@use '../../styles/typography';
@use '../../styles/theme';

.Container {
  display: flex;
  flex-direction: column;

  .Label {
    font-size: typography.$size-tiny;
    line-height: 0.908rem;

    &[data-variant='primary'] {
      color: theme.$color-greyscale-11;
    }

    &[data-variant='secondary'] {
      color: theme.$color-greyscale-11;
    }
  }

  .Content {
    color: theme.$color-greyscale-12;
    text-decoration: none;
    line-height: 1.5rem;
  }
}
