@import '../../styles/theme';
@import './alignments.module.scss';

.Table {
  width: 100%;
  border-collapse: collapse;

  th {
    font-size: 0.75rem;
    font-weight: bold;
    color: $color-greyscale-10;
    padding: 1rem;

    &.Left {
      text-align: left;
    }
    &.Center {
      text-align: center;
    }
    &.Right {
      text-align: right;
    }
  }

  th,
  td {
    padding: 1rem;
    vertical-align: middle;

    &:first-of-type {
      padding-left: 1rem;
    }

    &:last-of-type {
      padding-right: 1rem;
    }

    &.Left {
      text-align: left;
    }
    &.Center {
      text-align: center;
    }
    &.Right {
      text-align: right;
    }
  }
}

.Loading {
  margin-top: 3rem;
}

.Empty {
  margin-top: 2rem;
  text-align: center;
}
