@import '../../styles/colors';

.Table {
  width: 100%;
  border-collapse: collapse;

  th {
    font-size: 0.75rem;
    font-weight: bold;
    color: $grey-lighter-2;
    padding: 1rem;
  }

  th,
  td {
    padding: 1rem;
    vertical-align: middle;

    &:first-of-type {
      padding-left: 1rem;
    }

    &:last-of-type {
      padding-right: 1rem;
    }
  }
}

.Loading {
  margin-top: 3rem;
}



.Empty {
  margin-top: 2rem;
  text-align: center;
}
