@use '../../styles/borders';
@use '../../styles/colors';
@use '../../styles/theme';

.zui-tooltip {
  &__trigger {
    display: inline-block;
    margin: unset;
  }

  &__content {
    padding: 1.5rem;
    max-width: 22rem;
    background-color: theme.$color-primary-3;
    border-radius: borders.$radius-primary;

    &[data-side='right'][data-align='end'] {
      border-bottom-left-radius: unset;
    }
    &[data-side='right'][data-align='start'] {
      border-top-left-radius: unset;
    }
    &[data-side='left'][data-align='end'] {
      border-bottom-right-radius: unset;
    }
    &[data-side='left'][data-align='start'] {
      border-top-right-radius: unset;
    }
  }

  &__arrow {
    fill: theme.$color-primary-3;
  }

  &__storycard {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: unset;
    }
  }
}
