@keyframes disappear {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

.Container {
    position: relative;

    > * {
        border-radius: inherit;
        height: 100%;
        width: 100%;
    }

    .Image {
        opacity: 0;
        z-index: 0;
    }

    &[data-is-cached] {
        * {
            transition: none;
        }
    }

    &[data-status="loaded"] {
        .Image {
            opacity: 1;
            transition: opacity 0.4s ease;
        }

        .Skeleton {
            // hide skeleton on a 0.4s delay
            animation: disappear 0.4s ease 0.4s forwards;
        }
    }

    .Skeleton {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 1;

        border-radius: inherit !important;
    }
}