@import '../../styles/colors';

$group-border-radius: 0.5rem;

.Accordion {
  width: 100%;
  color: $grey-12;

  button,
  h3 {
    all: unset;
  }

  .Item {
    overflow: hidden;
    margin-top: 0.25rem;

    &:first-child {
      border-top-left-radius: $group-border-radius;
      border-top-right-radius: $group-border-radius;
      margin-top: 0;
    }

    &:last-child {
      border-bottom-left-radius: $group-border-radius;
      border-bottom-right-radius: $group-border-radius;
    }

    &[data-focus-on-key-press='true']:focus-within {
      border-radius: 0.25rem;
      outline-offset: 0.25rem;
      outline: 0.0625rem solid $green-11;
    }
  }

  .Header {
    display: flex;
    width: 100%;
    border-bottom: 0.063rem solid #{$purple-50};

    &:hover {
      cursor: pointer;
      border-bottom: 0.063rem solid #{$purple-50};
    }

    &:active {
      border-bottom: 0.063rem solid #{$purple-50};
    }
  }

  .Trigger {
    font-family: inherit;
    padding: 0.5rem 0 0.438rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: transparent;
    transition: 0.15s all ease;

    &:hover {
      background-color: #{$purple-2};
      padding: 0.5rem 0px 0.438rem;
    }

    &[data-state='open'] {
      background-color: #{$purple-2};
      padding: 0.5rem 1rem 0.438rem;

      &:hover {
        background-color: #{$purple-2};
        padding: 0.5rem 1rem 0.438rem;
      }

      &>.Chevron {
        transform: rotate(180deg);
      }
    }

    &:active {
      background-color: #{$purple-2};
    }
  }

  &[data-contrast='high'] {
    .Content {
      border: 0.063rem solid $purple-6;
    }

    .Header {
      border-bottom: 0.063rem solid #{$purple-6};

      &[data-state='open'] {
        border-bottom: none;
      }

      &:hover {
        border-bottom: 0.063rem solid #{$purple-8};
      }

      &:active {
        border-bottom: 0.063rem solid #{$purple-6};
      }
    }

    .Trigger {
      background-color: #{$purple-4};
      padding: 0.5rem 1rem 0.438rem;

      &[data-state='open'] {
        background-color: #{$purple-2};
      }

      &:hover {
        background-color: #{$purple-2};
      }
    }
  }

  .Chevron {
    color: $grey-12;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .Content {
    overflow: hidden;
    font-size: 1rem;
    line-height: 1.5rem;

    .ContentText {
      padding: 1rem;
    }

    &[data-state='open'] {
      animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }

    &[data-state='closed'] {
      animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
  }

  @keyframes slideDown {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}
