.Container {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    background: #BC43FE13;

    border-radius: 0.5rem;
    border: 1px solid #381C4E;

    height: auto;

    &[data-variant='default'] {
        padding: 0.5rem;

        .Toggle {
            height: 2.438rem; // 39px

            &[data-type='icon'] {
                padding: 0.469rem; // 15.5px
            }
        }
    }

    &[data-variant='minimal'] {
        padding: 0;
        border: none;
    }

    /*
     * ToggleGroup Styling
     */

    .Toggle {
        position: relative;
        display: grid;
        align-items: center;
        text-align: center;
        flex: 1; // All items the same size

        font-size: 1rem;

        height: 100%;
        padding: 0.5rem 1rem; // 0px 11px

        color: white;

        border: none;
        border-radius: 0.5rem;
        outline: none; // disabling outline as we handle it custom below
        cursor: pointer;

        transition: background 0.1s ease;

        &[data-focus-visible-added] {
            &::after {
                content: ' ';
                position: absolute;
                top: -0.25rem;
                left: -0.25rem;
                width: calc(100% + 0.25rem + 0.25rem);
                height: calc(100% + 0.25rem + 0.25rem);
                border-radius: inherit;
                box-shadow: 0 0 0.25rem #01F4CB;
                outline: 1px solid #01F4CB;
            }
        }

        /*
         * Selected/not-selected states
         */

        &[data-state='on'] {
            background: #8E4EC6;

            &:not(:active) {
                &:hover {
                    box-shadow: 0 0 0.25rem #9747FF;
                }
            }
        }

        &[data-state='off'] {
            background: none;
        }

        /*
         * Disabled state
         */

        &[data-disabled] {
            pointer-events: none;
            cursor: not-allowed !important;
            opacity: 0.5;

            &:active {
                &[data-state='on'] {
                    background: #8E4EC6;
                }

                &[data-state='off'] {
                    background: none !important;
                }
            }
        }

        /*
         * Positioning for different data types
         */

        &[data-type='text'] {
            span {
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &[data-type='icon'] {
            display: grid;
            align-items: center;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}
