@import '../../styles/colors';

.Container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
    .Root {
      position: relative;
      display: flex;
      align-items: center;
      width: 18.75rem;
      background-color: $purple-light-4;
      border-radius: 1rem;
      height: 1rem;
      
      .Track {
        position: relative;
        flex-grow: 2;
        border-radius: 1rem;
        height: 0.25rem;
        
        .Range {
          position: absolute;
          background-color: $blue-dark-9;
          border-radius: 2rem;
          height: 1rem;
          top: -0.39rem;
        }

        .SmallRange {
          height: 0.5rem;
          top: -0.1rem;
        }
          
        .LightRange {
          background-color: $blue-light-9;
        }
      }
      
      .Thumb {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $grey-dark-12;
        border: 0.125rem solid $blue-dark-9;
        border-radius: 1rem;
        cursor: pointer;
      }
      
      .Thumb:focus {
        outline: none;
        outline-width: 0.1rem;
        outline-style: solid;
        box-shadow: 0 0 0 0.2rem $blue-dark-9;
      }
      
      .LightThumb {
        background-color: $grey-light-12;
        border: 0.125rem solid $blue-light-9;
      }
      
      .SmallThumb {
        height: 1rem;
        width: 1rem;
      }
    }
  
  .SmallRoot {
    height: 0.5rem;
  }
  
  .LightRoot {
    background-color: #e8e7e9;
  }
}

.LightContainer {
  color: black;
}