
.RootContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.LightRootContainer {
  color: black;
}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: 18.75rem;
  background-color: #37273f;
  border-radius: 1rem;
  height: 1rem;
}

.SmallRoot {
  height: 0.5rem;
}

.LightRoot {
  background-color: #e8e7e9;
}

.SliderTrack {
  position: relative;
  flex-grow: 2;
  border-radius: 1rem;
  height: 0.25rem;
}

.SliderRange {
  position: absolute;
  background-color: #67eace;
  border-radius: 2rem;
  height: 1rem;
  top: -0.4rem;
}

.SmallRange {
  height: 0.5rem;
  top: -0.1rem;
}

.LightRange {
  background-color: #26edcc;
}

.SliderThumb {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ededef;
  border: 0.125rem solid #67eace;
  border-radius: 1rem;
  cursor: pointer;
}

.LightThumb {
  background-color: #1a1523;
  border: 0.125rem solid #26edcc;
}

.SmallThumb {
  height: 1rem;
  width: 1rem;
}

.SliderThumb:focus {
  outline: none;
  outline-width: 0.1rem;
  outline-style: solid;
  box-shadow: 0 0 0 0.2rem #26edcc
}