.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: 18.75rem;
  background-color: #37273f;
  border-radius: 1rem;
  height: 1rem;
}

.SmallRoot {
  height: 0.5rem;
}

.LightRoot {
  background-color: #E8E7E9;
}

.SliderTrack {
  position: relative;
  flex-grow: 2;
  border-radius: 1rem;
  height: 0.25rem;
}

.SliderRange {
  position: absolute;
  background-color: #67eace;
  border-radius: 2rem;
  height: 1rem;
  top: -0.4rem;
}

.SmallRange {
  height: 0.5rem;
  top: -0.1rem;
}

.LightRange {
  background-color: #26EDCC;
}

.SliderThumb {
  display: block;
  height: 1.75rem;
  width: 1.75rem;
  background-color: #ededef;
  border: 0.125rem solid #67eace;
  border-radius: 1rem;
}

.LightThumb {
  background-color: #1A1523;
  border: 0.125rem solid #26EDCC;
}

.SliderThumb:focus {
  outline: none;
}

.SmallThumb {
  height: 1.25rem;
  width: 1.25rem;
}

.ValueDisplay {
  padding-bottom: 1rem;
}
